 <% @places.each do |place| %>
   <div class="booyah-box col-10 offset-1">
    <h1><%= place.name %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />
  </div>
 

<hr />

<% end %>
 
<div class="@font-awesome col-11 offset-1">
<%== pagy_nav(@pagy)%> 
</div>

 